html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, SansSerif, serif;
}

.bg {
    position: fixed;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("imgs/Эстетика.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(80px);
    z-index: -1;
    -webkit-filter: blur(100%);
}

.everything {
    width: 300px;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.ava img {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    max-width: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ava {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.text a {
    color: white;
    font-size: 17px;
}

.text p {
    color: white;
    font-size: 25px;
}

.links {
    margin-top: 20px;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px;
}